<tr>
   <th>View</th>
   <th>Order</th>
   <th>Total</th>
   <th>Complete</th>
 </tr>

{{#each orders as |order|}}
    <tr data-id="{{order._id}}" class="table-primary">
      <td><button class="show-past-order-button" data-id="{{order._id}}" type="button">View</button></td>
      <td>{{order._id}}</td>
      <td></td>
      <td>{{order.checkoutComplete}}</td>
    </tr>
{{/each}}
