$pure-white: #fff;
$pure-black: #000;
$light-grey: #d1d1d1;
$standard-grey: #a5a5a5;
$bold-grey: #797979;
$dark-grey: #454444;

$primeblue-light: #929ba5;
$primeblue-soft: #6c7786;
$primeblue-medium: #505f73;
$primeblue-dark: #39495c;
$primeblue-heavy: #23344a;

$accentpurple-light: #a096aa;
$accentpurple-soft: #7d6eba;
$accentpurple-medium: #655276;
$accentpurple-dark: #4d3a5f;
$accentpurple-heavy: #38234c;

$tan-light: #fcf5dc;
$tan-soft: #cdc3a0;
$tan-medium: #afa375;
$tan-dark: #8d8052;
$tan-heavy: #70622f;
