$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

@import 'colors.scss';

body {
  background-color: $light-grey;
  font-family: 'Avenir', Helvetica, sans-serif;
}

// MAIN SECTIONS

#header-nav {
  background-color: $dark-grey;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  height: 50px;
  width: 100%;
  z-index: 999;
}

#hero {
  // background-color: $standard-grey;
  height: 300px;
  width: 100%;
  float: left;
background-image: url("https://i.imgur.com/w0ZQY0W.png");
background-repeat: no-repeat;
background-attachment: fixed;
background-size: contain;
}

#sections {
  background-color: $bold-grey;
  width: 100%;
  height: 40px;
  float: left;
}

#marketplace {
  background-color: $pure-white;
  height: 700px;
  padding: 20px;
  width: 100%;
  float: left;
}

#shopping-cart {
  background-color: $bold-grey;
  // width: 35%;
  // height: 700px;
  float: left;
}

#footer {
  background-color: $pure-black;
  height: 150px;
  margin: 0 auto;
  clear: both;
}

#body-container {
  width: 90%;
  @media only screen and (max-width: 700px) {
    width: 100%;
    }
  margin: 0 auto;
}

// HEADER SECTIONS

.header {
  height: 50px;
  border: 2px;
  border-style: solid;
  border-color: $pure-white;
  display: block;
}

#header-logo {
  width: 150px;
  float: left;
}

#header-announcer {
  // DEPR
  // width: 300px;
  // float: left;
}

#header-user-options {
  width: 400px;
  float: right;
}

#header-checkout-icon {
  width: 50px;
  float: right;
}

#sign-out-button {

}

#sign-in-button {

}

#change-password-button {

}

#sign-out-button {

}

// HERO SECTIONS

// SECTIONS SECTIONS

// MARKETPLACE SECTIONS

.item-tile {
  width: 250px;
  height: 300px;
  margin: 20px;
  border-color: $standard-grey;
  border-radius: 5px;
  border-style: solid;
  float: left;
  position: relative;
}

.item-image {
  position: relative;
  height: 150px;
  width: 100%;
  object-fit: fill;
}

.item-text {
  height: 100px;
  width: 100%;
  position: absolute;
  top: 135px;
  text-align: right;
  padding: 10px;
}

.item-text, h2 {
  font-size: 25px;
  color: $dark-grey;
  padding-right: 5px;
}

.item-text, h3 {
  font-size: 16px;
  color: $dark-grey;
  padding-right: 5px;
}

.item-cart-options {
  text-align: right;
  padding: 2px;
  background-color: $light-grey;
  width: 100%;
  position: absolute;
  bottom: 0;
  border-top: 1px;
  border-top-style: solid;
  border-top-color: $standard-grey;
  margin: 0 auto;
  height: auto;
  margin: 0 auto;
  padding-right: 10px;
}

.tile-bar {
  height: 1px;
  width: 75%;
  margin: 0 auto;
  border-style: groove;
  border-color: $light-grey;
  position: absolute;
  bottom: 37px;
}
